<!DOCTYPE html>
<html>
<head>
 <title>POSTart</title>
 <%= csrf_meta_tags %>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div id="content" >
  <%= render('layouts/navigation') %>
  <main id="main">
    <div id="main-content">
      <%= yield %>
    </div>
  </main>
  <footer>
    <%= render('layouts/footer') %>
  </footer>
</div>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
    var message = "<%= flash[:notice] %>";
    var color = "<%= flash[:color] %>";
    Materialize.toast(message, 1000, color);
    if (window.location.pathname == "/") {
      $('#main-nav').css('display', 'none');
      $('footer').css('display', 'none');
    } else {
      $('#main-nav').css('display', 'block');
      $('footer').css('display', 'block');
    }
  </script>
</body>
</html>