<!DOCTYPE html>
<html>
<head>
 <title>AlphaBlog</title>
 <%= csrf_meta_tags %>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div id="content" >
  <header>
    <div class="navbar-fixed">
      <%= render('layouts/navigation') %>
    </div>
  </header>
  <main id="main">
    <div id="main-content">
      <%= yield %>
    </div>
  </main>
  <footer>
    <%= render('layouts/footer') %>
  </footer>
</div>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
    var message = "<%= flash[:notice] %>";
    var color = "<%= flash[:color] %>";
    Materialize.toast(message, 1000, color);
  </script>
</body>
</html>